{% extends 'base.html' %}

{% block content %}
  <h1>Accounts</h1>
  <a href="{% url 'account-create' %}" class="btn btn-primary mb-3">Create Account</a>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Industry</th>
      </tr>
    </thead>
    <tbody>
      {% for a in accounts %}
      <tr>
        <td><a href="{% url 'account-detail' a.pk %}">{{ a.name }}</a></td>
        <td>{{ a.industry }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="2">No accounts yet.</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
